.display-marcas{
    display: flex;
}
li{
    list-style: none;
}
.about{
    font-weight: 400;
    background-color: lightblue;
    margin-top: 50px;
    margin-bottom: 120px;
}
body{
    background-color: rgb(208, 211, 212);
}