<p class="about">Somos una empresa familiar con mas de 25 años de trayectoria en ventas de repuestos automotor.

    El esfuerzo y la fuerza de trabajo son bases que nos caracterizan y han permitido que sigamos avanzando a través de los años.
    
    Desde 1990, con la fundación de Tandil Automotores S.A. superamos todo tipo de adversidades</p>

    <div>
        <h3>Trabajamos con las mejores marcas del mercado para brindarte repuestos duraderos</h3>
        <ul class="display-marcas">
            <li><img src="assets/img/bosch.png" alt=""></li>
            <li><img src="assets/img/valeo.png" alt=""></li>
            <li><img src="assets/img/skf.png" alt=""></li>
        </ul>
    </div>
