<h1>Nuestros automotores</h1>
<table class="table">
    <thead>
        <tr>
            <th>Modelo</th>
            <th>Año</th>
            <th>Kilometros (km)</th>
            <th>Consumo (l/100km)</th>
            <th>Disponibilidad</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Automotor of automotores">
            <td>{{Automotor.modelo}}</td>
            <td>{{Automotor.anio}}</td>
            <td>{{Automotor.kms}}</td>
            <td>{{Automotor.consumo}}</td>
            <td class="badge badge-primary" *ngIf="Automotor.disp==true">Disponible</td>
            <td class="badge badge-warning" *ngIf="Automotor.disp==false">Señado</td>
            <td><img class="foto" src="{{Automotor.image}}" alt="{{Automotor.modelo}}"></td>
            <td *ngIf="Automotor.disp==true"><button>Me interesa</button></td>
        </tr>
    </tbody>
</table>