<h1>Nuestros repuestos</h1>
<table class="table text-center">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Condicion</th>
            <th>Disponibilidad</th>
            <th>Cantidad</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let Repuesto of repuestos">
            <td>{{Repuesto.nombre}}</td>
            <td>{{Repuesto.condicion}}</td>
            <td class="badge badge-primary" *ngIf="Repuesto.disp==true">Disponible</td>
            <td class="badge badge-warning" *ngIf="Repuesto.disp==false">Sin stock</td>
            <td>
                <div class="input-cant">
                    <button class="btn btn-primary btn-sm" (click)="downCant(Repuesto)">-</button>
                    <input type="text" (keyup)="changeCant($event, Repuesto)" [(ngModel)]="Repuesto.cantidad">
                    <button class="btn btn-primary btn-sm" (click)="upCant(Repuesto)">+</button>
                </div>
            </td>
            <td><img class="foto" src="{{Repuesto.image}}" alt="{{Repuesto.modelo}}"></td>
            <td *ngIf="Repuesto.disp==true"><button>Me interesa</button></td>
        </tr>
    </tbody>
</table>